$main-link-color: black;

$min-xs-width: 900px;
$header-height: 120px;
$bold-text-weight: 600;
$main-font: "Roboto";
$header-font: "Pacifico";

$main-dimen: 16px;
$btn-min-width: 64px;

$max-width: 900px;

$anchor-border: 3px;

$main-color: wheat;
$dark-main-color: darken($main-color, 20);
$overlay-color: rgba(255, 255, 255, 0.9);
$reject-color: lightcoral;
$nav-color: rgba(255, 255, 255, 1);
$disabled-color: lightgray;
